*.pyc
*.idea/*
*.DS_Store

# folder used by virtualenv
env
.env

# specific folders
temp

# ignore info from all dependencies
*.dist-info
*.egg-info
venv/*
dist
build
.venv
.history
.vscode
.coverage
__pycache__
*.pdf
